{% extends 'base.html.twig' %}

{% block title %}
    Register page
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block main_content %}
    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(register_form) }}
{% endblock %}