{% extends 'base.html.twig' %}

{% block title %}
    Author
{% endblock %}

{% block main_content %}
    {% if errors is defined%}
        {% set errs = [] %}
        {% for error in errors %}
            {% set errs = errs|merge({ (error.propertyPath) : error.message}) %}
        {% endfor %}
    {% endif %}
    <div style="margin: 0 auto; width: 50%;">
        <form action="{{ url('validate-author') }}" method="post">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="First Name" value="{% if author.firstName is defined %}{{ author.firstName }}{% endif %}">
            {% if errs['firstName'] is defined %}
                <p style="color: red">{{ errs['firstName'] }}</p>
            {% endif %}
            <br />
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="{% if author.lastName is defined %}{{ author.lastName }}{% endif %}">
            {% if errs['lastName'] is defined %}
                <p style="color: red">{{ errs['lastName'] }}</p>
            {% endif %}
            <br />
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" value="{% if author.email is defined %}{{ author.email }}{% endif %}">
            {% if errs['email'] is defined %}
                <p style="color: red">{{ errs['email'] }}</p>
            {% endif %}
            <br />
            <label for="code">Pass Code</label>
            <input type="password" id="code" name="code" placeholder="Pass Code" value="{% if author.code is defined %}{{ author.code }}{% endif %}">
            {% if errs['code'] is defined %}
                <p style="color: red">{{ errs['code'] }}</p>
            {% endif %}
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}