{% extends 'base.html.twig' %}
{% block title %}
    Home
{% endblock %}


{% block main_content %}
    <p>This is home page!</p>
    {% if user %}
        {# read and display just one flash message type #}
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        <br />
        Your name: {{ user.name }}
        <br />
        Your email: {{ user.email }}
    {% endif %}
{% endblock %}

